footer {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex: 1;
    align-items: end;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 4rem 0 2rem;
}

@media (max-width: 917px) {
.storesLinkWrapper {
    order: 0;
    /* flex-basis: 100%; */
}

p {
    order: 3;
}

nav {
    order: 2;
}
}

@media (max-width: 593px) {
footer {
    justify-content: center;
}
}

ul {
    list-style: none;
    display: flex;
    gap: 1.7rem;
}

li a {
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 600;
}

li a:hover {
text-decoration: none;
}

.storesLinkWrapper {
display: flex;
gap: 1rem;
}

